//侧边栏样式
@import "./global.less";
.van-sidebar{
    // position: fixed;
    .van-sidebar-item{
        border-left-width: 8px;
    }
    .van-sidebar-item--select{
        border-color:  @globalColor;
        font-weight: 800;
    }
    
}
.van-tabs__line{
    z-index: unset;
}
.sticky-wapper {
    .van-sticky--fixed {
      z-index: unset;
    }
  }

//规格弹框
.van-dialog{
    display: flex;
    flex-direction: column;
    .van-dialog__header{
        flex: 0.5;
    }
    .van-dialog__content{
        padding: 10px 20px;
        font-size: 16px;/*no*/
        color: #000;
        flex: 2;
       
    }
    .van-dialog__footer{
        flex: 1;
    }
}
